  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/datepicker.css" rel="stylesheet">

    <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="ico/favicon.png">

        <link href="css/teachme.css" rel="stylesheet">
      </head>

      <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="#">TeachMe!</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="#">Profile</a></li>
                  <li><a href="#about">Wall</a></li>
                  <li><a href="#contact">Friends</a></li>

                      <li><a href="#">Explore Interests</a></li>
                      <li><a href="#">My Groups</a></li>


                </div><!--/.nav-collapse -->
                <ul class="nav pull-right"> 
                  <li class="nav pull-right"><a  href="#logout">Logout</a></li>

                </ul>

              </div>
            </div>
          </div>
        </div>


        <div class="container">
          <div class="row">
            <div class="span6 center"> 
             <legend>Account Information</legend>
             <label>Email</label>
             <p>youemail@gmail.com</p>
             <label>Full Name</label>
             <input class="input-xxlarge" type="text" placeholder="The user's original name">
             <legend>Change Password</legend>
             <label>Original Password</label>
             <input class="input-xlarge" type="password" placeholder="Enter original Password">
             <div class="control-group" id="password-error">
				 <label>New Password</label>
				 <input class="input-xlarge" type="password" placeholder="New Password" id="password">
			 </div>				 
             <label>Confirm new password</label>
			 <div class="control-group" id="password-error">
				<input class="input-xlarge" type="password" placeholder="Confirm New Password" id="password-check" onkeyup="checkPass();return false;">
				<span id="confirmMessage" class ="confirmMessage"></span>
			</div>	


             <legend>Personal Information</legend>
         <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;" >  <img data-src="holder.js/200x150" alt=""></div>
            <div>
              <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
              <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
            </div>
          </div>
          <label>Date of Birth</label>
<input id="dp" class="span2" type="text" data-date-format="mm/dd/yy" value="02/16/12" data-date-viewmode="years">


             <label>Gender</label>
             <p>
             <div class="btn-group" data-toggle="buttons-radio">
              <button type="button" class="btn btn-inverse" id="male">Male</button>
              <button type="button" class="btn btn-inverse" id="female">Female</button>
            </div>
          </p>
            <label>Handphone Number</label>
            <input class="input-large" type="text" placeholder="HP number">
            <label>Address</label>
            <textarea class="span6" rows="3"></textarea>
                        <label>Self Description</label>
            <textarea class="span6" rows="3"></textarea>

           </div>
        </div>
      </div>

      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.js"></script>
<script src="js/jasny-bootstrap.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/holder.js"></script>

            <!-- Le javascript
      ================================================== -->
      <!-- Javascript for toggle. Integrate with php -->
      <script>
$("#female").button('toggle');
$('input[id=lefile]').change(function() {
   $('#photoCover').val($(this).val());
});

$('#dp').datepicker();

// function to check password as user types
function checkPass()
{
    
    var pass1 = document.getElementById('password');
    var pass2 = document.getElementById('password-check');
    var message = document.getElementById('confirmMessage');
    var goodColor = "#66cc66";
    var badColor = "#ff6666";

    if(pass1.value == pass2.value){
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!"
    }else{
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }
}
</script>
    </body>
    </html>
